@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: max-content 1fr;
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;;
}

aside {
  background-color: #1e3a8a;
  grid-column: 1;
  grid-row: 1 / span 2;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, min-content);
  color: white;
  gap: 64px;
  padding: 30px;
  font-weight: 600;
}

.logo {
  font-size: 1.7rem;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 16px;
}

.logo-img {
  width: 48px;
  height: 48px;
  background-color: gray;
}

nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.nav-menu ul {
  grid-template-rows: repeat(6, min-content);
}

.nav-utilities ul {
  grid-template-rows: repeat(3, min-content);
}

nav ul li {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 16px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  background-color: gray;
}

header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  gap: 32px;
  padding: 16px 48px;
  font-weight: 700;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.search-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 24px;
  align-items: center;
}

.search-icon {
  width: 30px;
  height: 30px;
  background-color: gray;
}

.search-bar {
  height: 30px;
  width: 500px;
  background-color: gray;
}

.account-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 32px;
  align-items: center;
  justify-self: end;
}

.notification {
  width: 30px;
  height: 30px;
  background-color: gray;
}

.account {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 16px;
  font-size: 1.2rem;
  align-items: center;
}

.account-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.greeting-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
}

.greeting-acc-img {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 24px;
}

.greeting {
  grid-column: 2;
  grid-row: 1;
}

.greeting-acc-name {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.7rem;
}

.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  gap: 32px;
  justify-self: end;
}

.header-buttons > button {
  width: 90px;
  font-size: 0.9rem;
  border: none;
  background-color: #1e3a8a;
  color: white;
  font-family: inherit;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 16px;
}

main {
  grid-column: 2;
  grid-row: 2;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, 1fr);
  padding: 24px;
  background-color: #f8fafc;
  gap: 24px;
}

section > h3, section h4 {
  font-weight: 700;
  margin: 0;
}

section > h3 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

section.projects {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.projects h4 {
  font-size: 1.1rem;
}

.projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.project-cards {
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  border-left: 8px solid gray;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr max-content;
}

.project-cards p {
  color: hsl(0, 0%, 40%);
  margin: 8px 0;
}

.project-icons {
  display: flex;
  gap: 16px;
  justify-self: end;
}

.icon-1, .icon-2, .icon-3 {
  width: 25px;
  height: 25px;
  background-color: gray;
}

section.announcements {
  grid-column: 2;
  grid-row: 1;
}

.announcements-container {
  background-color: white;
  width: 300px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

.announcements-container h4 {
  font-size: 1rem;
}

.announcements-container hr {
  border: 1px solid hsl(0, 0%, 90%);
  margin: 16px 0;
}

.announcements-container p {
  margin: 8px 0 0 0;
  color: hsl(0, 0%, 40%);
}

section.trending {
  grid-column: 2;
  grid-row: 2;
}

.trending-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding: 24px 32px;
  width: 300px;
  background-color: white;
  gap: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
}

.trending-accounts {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.trending-acc-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-right: 16px;
}

.trending-acc-name {
  font-weight: 600;
  grid-column: 2;
  grid-row: 1;
}

.trending-acc-project {
  grid-column: 2;
  grid-row: 2;
  color: hsl(0, 0%, 40%);
}